.tabContainer {
  max-width: 400px;

  margin-inline: auto;

  border: 1px solid #ccc;
}

.tabList {
  display: flex;
}

.tabButton {
  flex-grow: 1;

  padding: 12px;

  border-bottom: 1px solid #ccc;

  transition: background-color 0.3s ease;
}

.tabButton:hover {
  background-color: #ececec;
}

.buttonActive {
  border-bottom: 1px solid #de63ed;
}

.tabContent {
  padding: 12px;
}
